/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------TO-DO LIST-------------------*/
body {
    height: 100%;
    width: auto;
    margin: 0 auto;
    background: url(assets/ipad_pens.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button > i {
    pointer-events: none;
}

.todo-list-area {
    position: relative;
    align-items: center;
    height: 100%;
    width: auto;
    text-align: center;
}
.todo-list-area .todo-intro {
  position: relative;
  margin-top: 15%;
  font-size: 3vw;
  line-height: 1.5vw;
  color: #000;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-list-area .todo-intro span {
  display: inline-block;
  font-size: 1.5vw;
}
.todo-list-area .todos {
  position: relative;
  height: 385px;
  width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-list-area .todos .item {
  display: flex;

  padding: 5px 0;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
}

.todo-list-area .content {
  position: relative;
  padding-left: 20px;
  width: 430px;
  height: 42px;
  line-height: 42px;  
}

.todo-list-area .content > label {
  position: relative;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
.todo-list-area .item input[type='text'] {
  position: relative;
  /* top: 10px;
  left: 20px; */
  display: none;
  border: 0 none;
  outline: none;
  font-size: 13px;
  letter-spacing: -1.2px;
  width: 100%;
  font-weight: bold;
  color: #e50087;
}
.todo-list-area .item_buttons {
  width: auto;
}
.todo-list-area .item_buttons i {
  position: relative;
  top: 2px;
}
.todo-list-area .item_buttons > button {
  text-align: center;
  width: 35px;
  height: 35px;
  color: #daab00;
  font-size: 17px;
  border-radius: 8px;
}
.todo-list-area .item_buttons > button:first-child {
  background-color: #fdf3ce;
  margin-right: 8px;
}
.todo-list-area .edit_buttons {
  display: none;
}
.todo-list-area .todo_form {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 80%;
  min-width: 100px;
  margin-top: 12px;
}
.todo-list-area .todo_form .todo_input {
  width: 100%;
  font-size: 16px;
  padding: 12px 14px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.todo-list-area .todo_form .todo_submit_button {
  background-color: #0066ff;
  color: #fff;
  width: 80px;
  margin-left: 10px;
  font-size: 30px;
  border-radius: 8px;
}
.todo-list-area .todo_form .todo_submit_button i {
  position: relative;
  top: 3px;
}